

@media (min-width: 601px)  {

 body {
    background-color: #ebe5d5;
}

  .elemdvcs {
  width: 80%;
  margin-left: 13%;
  margin-top: -34%;
  position: relative;
  z-index: -10;
}



.shop {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 40px;
  color: black;
  margin-top: 4.5%;
  margin-left: 85%;
  z-index: 10;
  text-decoration: none;
  position: absolute;
}

.shop:hover {
  opacity: 1;
  color: #0B5F8D;
  font-family: monospace;
}





  .instagram {
   width: 20%;
   margin-left: 5%;
   margin-top: 3.55%;
   z-index: 100;
   position: absolute;
  }

  .instagram:hover {
    opacity: 0;
    }

.instagramyellow {
   width: 20%;
   margin-left: 5%;
   margin-top: -34.8%;
   z-index: 100;
   position: absolute;
   z-index: -10;
  }

  .instagrammobile {
    margin-left: 200%;
  }

  .mail {
   width: 22%;
   margin-left: 13%;
   margin-top: -34.6%;
   z-index: 100;
   position: absolute;
  }

  .mail:hover {
    opacity: 0;
  }

  .mailred {
    width: 22%;
   margin-left: 13%;
   margin-top: -34.6%;
   z-index: 100;
   position: absolute;
   z-index: -10;
  }

.fluttr {
  margin-top: 15%;
  margin-left: 5%;
  width: 30%;
  height: auto;
  position: absolute;
  
}

.fluttrtext {
  font-family: monospace;
  font-size: 50px;
  position: absolute;
  margin-top: -31%;
  margin-left: 42%;
  text-decoration: none;
}



.fluttrsubtext {
  font-family: monospace;
  font-size: 25px;
  position: absolute;
  margin-top: -24%;
  margin-left: 42%;
  text-decoration: none;
}

.fluttrdescription {
  font-family: monospace;
  font-size: 18px;
  position: absolute; 
  margin-top: -16%;
  margin-left: 42%;
  test-decoration: none;
  width:45%;
}

.PreorderButton {
font-family: monospace;
  font-size: 25px;
  position: absolute; 
  margin-top: 46%;
  margin-left: 5%;
  text-decoration: underline;
  width: 45%;
  Color: #bc0505;
}


  
.square {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  opacity: 0.7;
  z-index: 10;
}

#sidebar div.list div.item {
  padding:15px 10px;
  color: black;
  text-transform:uppercase;
  text-decoration: none;
  font-size:15px;
  margin-left: -50%;
  z-index: 10;

}

}



@media (max-width: 600px) {

 body {
    background-color: #ebe5d5;
}

  .comingsoon {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 50px;
  color: black;
  margin-top: 20%;
  margin-left: 5%;
  z-index: -10;
  position: absolute;
}

.title1 {
  text-align:center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 800%;
}

.title2 {
  text-align: center;
  font-family: lucida 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 800%;
}

.elemdvcs {
  width: 130%;
  margin-left: -4%;
  margin-top: -66%;
  position: absolute;
  z-index: -10;
}

.shop {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 40px;
  color: black;
  margin-top: 4.5%;
  margin-left: 200%;
  z-index: 10;
  text-decoration: none;
  position: absolute;
}

.shop:hover {
  opacity: 1;
  color: #bc0505;
  font-family: monospace;
}

.contact {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 40px;
  color: black;
  margin-top: 4.5%;
  margin-left: 200%;
  z-index: 10;
  text-decoration: none;
  position: absolute;
}

.fluttr {
  margin-top: 20%;
  margin-left: 5%;
  width: 45%;
  height: auto;
  position: absolute;
  
}

.fluttrtext {
  font-family: monospace;
  font-size: 20px;
  position: absolute;
  margin-top: 65%;
  margin-left: 5%;
  text-decoration: none;
}

.fluttrtext:hover {
  text-decoration: underline;
  color: #bc0505;
}

.fluttrsubtext {
  font-family: monospace;
  font-size: 13px;
  position: absolute;
  margin-top: 70%;
  margin-left: 5%;
  text-decoration: none;
}

.fluttrdescription {
  font-family: monospace;
  font-size: 18px;
  position: absolute; 
  margin-top: 20%;
  margin-left: 52%;
  test-decoration: none;
  width:45%;
}

.PreorderButton {
font-family: monospace;
  font-size: 25px;
  position: absolute; 
  margin-top: 78%;
  margin-left: 5%;
  text-decoration: underline;
  width: 45%;
  Color: #bc0505;
}


.instagram {
  width: 5%;
  margin-left: 200%;
}

.instagramyellow {
  width: 5%;
  margin-left: 200%;
}




  .instagrammobile {
   width: 40%;
   margin-left: 2%;
   margin-top: 3.5%;
   z-index: 1000;
   position: absolute;
  }



  .mail {
   width: 22%;
   margin-left: 200%;
   margin-top: 3.2%;
   z-index: 100;
   position: absolute;
  }

  

  .mailred {
    width: 22%;
   margin-left: 200%;
   margin-top: 3.2%;
   z-index: 100;
   position: absolute;
   z-index: -10;
  }
 
.square {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  opacity: 0.7;
  z-index: 1;
}



* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
#sidebar {
  position:absolute;
  top:0px;
  left:-200px;
  width:200px;
  height:100%;
  background:white;
  opacity: 0.8;
  transition: all 300ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  z-index: 10;
}

#sidebar.active {
  left:0px;
}

#sidebar .toggle-btn {
  position:absolute;
  left:220px;
  top:10px;
}
#sidebar .toggle-btn span {
  display:block;
  width:30px;
  height:5px;
  background:#151719;
  opacity: 1;
  margin:5px 0px;
  cursor:pointer;
}
#sidebar div.list div.item {
  padding:15px 10px;
  border-bottom:1px solid #444;
  color: black;
  text-transform:uppercase;
  text-decoration: none;
  font-size:15px;
  z-index: 10;

}

}
