

@media (min-width: 1200px)  {
/*
 body {
		/*background-image: url("https://drive.google.com/uc?export=download&id=1ceRiXm-3lcV3UgzQp7354CXDV1zcrbcv");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: 100%;
    background-position-y: 150px;
}
*/
  
  .title {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 100px;
  color: black;
  margin-top: 10%;
  margin-left: 30%;
  z-index: 10;
  position: absolute;
}


.elemdvcs {
  width: 80%;
  margin-left: 10%;
  margin-top: -28%;
  position: relative;
  z-index: -10;
}



/*.single {
  text-align:center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 50px;
  color:white;
  margin-top: 7%;
  margin-left: 36%;
  position: absolute;

} */

.astro {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:white;
  letter-spacing: 20px;
  font-size: 50px;
  margin-top: 14%;
  margin-left: 39%;
  position:absolute;
}

/*.contact {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 40px;
  color: black;
  margin-top: -120px;
  margin-left: 170px;
  z-index: 10;
  text-decoration: none;
  position: absolute;
} 

.contact:hover {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 40px;
  color: gray;
  margin-top: -120px;
  margin-left: 170px;
  z-index: 10;
  text-decoration: none;
  position: absolute;
} 

.listen {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 40px;
  color: black;
  margin-top: -120px;
  margin-left: 20px;
  z-index: 10;
  text-decoration: none;
  position: absolute;
}

.listen:hover {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 40px;
  color: gray;
  margin-top: -120px;
  margin-left: 20px;
  z-index: 10;
  text-decoration: none;
  position: absolute;
}
*/


  
 
 

  

  .instagram {
   width: 20%;
   margin-left: 10%;
   margin-top: 3.5%;
   z-index: 100;
   position: absolute;
  }

  .instagram:hover {
  opacity: .7;
}

 .bandcamp {
   width: 22%;
   margin-left: 68%;
   margin-top: -3.6%;
  }

  .bandcamp:hover {
  
}

.spotify {
  width: 20%;
  margin-top: 0.5%;
  margin-left: 31%;
  position:absolute;
}

.applemusic {
  width: 20%;
  margin-top: 0.5%;
  margin-left: 35%;
  position:absolute;
}

.tnnr {
  width: 100%;
  position:absolute;
  margin-top: 68%;
}
  
.astronaut {
  width: 25%;
  margin-left: 37.5%;
  margin-top: 20%;
}

#sidebar div.list div.item {
  padding:15px 10px;
  border-bottom:1px solid white;
  color:white;
  text-transform:uppercase;
  font-size:1px;
  
}

#sidebar div.list div.itembold {
  padding:15px 10px;
  border-bottom:1px solid white;
  color:white;
  text-transform:uppercase;
  font-size:15px;
  font-style: bold;
  text-align: center;
  
}


}

@media (min-width: 992px) {



}

@media (min-width: 768px) {

}

@media (min-width: 601px) {

}

@media (max-width: 600px) {

 body {
		background-image: url("https://drive.google.com/uc?export=download&id=1ceRiXm-3lcV3UgzQp7354CXDV1zcrbcv");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: 100%;
    background-position-y: 60px;
}
  
 .title {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 50px;
  color: black;
  margin-top: 30%;
  margin-left: 5%;
  z-index: 10;
  position: absolute;
}

.elemdvcs {
  width: 120%;
  height: 40%;
  margin-left: -18%;
  margin-top: -48%;
  position: absolute;
}



.single {
  text-align:center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 20px;
  color:white;
  margin-top: 4%;
  margin-left: 0%;
 

}

.astro {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:white;
  letter-spacing: 10px;
  font-size: 100%;
  margin-top: 5%;
  margin-left: 0%;
  position: relative;
  
}

.contact {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 40px;
  color: black;
  margin-top: -120px;
  margin-left: 150%;
  z-index: 10;
  text-decoration: none;
  position: absolute;
}

.contact:hover {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 40px;
  color: gray;
  margin-top: -120px;
  margin-left: 170px;
  z-index: 10;
  text-decoration: none;
  position: absolute;
}

.listen {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 40px;
  color: black;
  margin-top: -120px;
  margin-left: 150%;
  z-index: 10;
  text-decoration: none;
  position: absolute;
}

.listen:hover {
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 40px;
  color: gray;
  margin-top: -120px;
  margin-left: 20px;
  z-index: 10;
  text-decoration: none;
  position: absolute;
}

.merch {
  text-align:center;
  font-family: lucida 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 35px;
  color:black;
  margin-top: 66%;

  position: absolute;
}



  
 
 

  

  .instagram {
   width: 30px;
   margin-left: 100%;
   margin-top: -6%;
  }

  .instagram:hover {
  
}

.instagrammobile {
width: 30px;
margin-top: -68%;
margin-left: 70%;
}

 .bandcamp {
   width: 22%;
   margin-left: 100%;
   margin-top: -3.6%;
  }

  .bandcamp:hover {
  
}

.bandcampmobile {
  width: 35px;
  margin-left: 50%;
  margin-top: -16%;
   
}

.spotify {
  width: 30%;
  margin-top: -14%;
  margin-left: 2%;
  position:absolute;
}

.applemusic {
  width: 30%;
  margin-top: -14%;
  margin-left: 11.5%;
  position:absolute;
}

.tnnr {
  width: 100%;
  position:absolute;
  margin-top: 75%;
  z-index: -1;
}
  
.astronaut {
  width: 45%;
  margin-left: 26%;
  margin-top: -5%;
  z-index: 10;
  
}

* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family:sans-serif;
}
 
#sidebar {
  position:absolute;
  top:0px;
  right:-200px;
  width:200px;
  height:100%;
  background:#fefeff;
  opacity: 0.9;
  transition:all 300ms linear;
}
#sidebar.active {
  right:0px;
}
#sidebar .toggle-btn {
  position:absolute;
  right:220px;
  top:10px;
}
#sidebar .toggle-btn span {
  display:block;
  width:30px;
  height:3px;
  background:#151719;
  margin:10px 0px;
  cursor:pointer;
  
}
#sidebar.active .toggle-btn span {
  display: block;
  width: 30px;
  height: 2px;
  margin: 1px 0px;
  
}

#sidebar div.list div.item {
  padding:15px 10px;
  border-bottom:1px solid #444;
  color:black;
  text-transform:uppercase;
  font-size:15px;
  
}

#sidebar div.list div.itembold {
  padding:15px 10px;
  border-bottom:1px solid #444;
  color:black;
  text-transform:uppercase;
  font-size:15px;
  font-style: bold;
  text-align: center;
  
}

}